* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
  color:var(--primary-color);
  text-align: center;
}

header {
  background: var(--primary-color);
  color: var(--white);
}

h1 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4.9rem;
  padding: 40px 0px;
}

p#message {
  font-size: 1.4rem;
  margin: 23px;
}

.score {
  display: inline-flex;
  font-size: 1.6rem;
}

#wins, #losses {
  margin-top: 15px;
}

#losses {
  margin-left: 26px;
}

div#box-1, div#box-2, div#box-3 {
  text-align: center;
  padding: 20px;
  border: 14px solid #6003c3;
  border-radius: 13px;
  max-width: 107px;
  font-size: 4rem;
  box-shadow: 19px 20px 22px -16px #000000b3;
  margin: 13px auto;
}

div#box-1 {
  background: var(--box-color-1);
}

div#box-2 {
  background: var(--box-color-2);
}

div#box-3 {
  background: var(--box-color-3);
}

@media (min-width: 720px) {

  p#message {
    font-size: 1.8rem;
    margin: 23px;
  }

  .boxes {
    display: flex;
    max-width: 900px;
    place-content: center;
    margin: 0 auto;
  }

  div#box-1, div#box-2, div#box-3 {
    padding: 15px 46px;
    margin: 22px 43px;
  }
}